version: '2'
services:
  postgres:
    image: kartoza/postgis:10.0-2.4
    volumes:
      - ./postgres:/var/lib/postgresql
      - ./pg_hba.conf:/etc/postgresql/10/main/pg_hba.conf
    env_file: .env
    ports:
      - "127.0.0.1:5432:5432"
    restart: unless-stopped
  web:
    build: ./web
    env_file: .env
    ports:
      - "127.0.0.1:8080:80"
    links:
      - "postgres"
    volumes:
      - ./web/data:/data
    restart: unless-stopped
